.idea
__pycache__/
**/credentials.py
.vscode/
**/*.env
**/pw.txt
**/secrets/*
**/venv/*
**/.venv/*
**/.pytest_cache/*
**/*.csv
**/*.CSV
**/*.xlsx
**/*.xls
**/*.xlsm
**/*.json
**/*.png
**/run_code.bat
